div#output {
    height: 80vh;
    overflow-y: scroll;
    background-color: #000b;
    color: white;
    font-size: small;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: #3008; */
    z-index: -100;
}

#axisConfig {
    position: fixed;
    right: 1em;
    top: 1lh;
    background: #3348;
    color: white;
    padding: 0.5lh 1em;
}

#axisConfig header {
    display: flex;
    justify-content: space-around;
    justify-items: end;
}

#axisConfig h3 {
    display: inline;
    margin: 0;
    padding: 0;
}

#axisConfig .axisConfig {
    display: grid;
    grid-template-columns: 2em 9em 7em;
    place-items: center;
}

.axisConfig .label {
    font-size: larger;
    margin: 0;
}

.axisConfig p {
    margin: 0.15lh 0;
    line-height: 1.2;
    text-align: center;
}

.axisConfig button {
    justify-self: end;
    width: 8em;
    height: 2.5lh;
}

.hidden {
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
}

