div#output {
    height:80vh;
    overflow-y: scroll;
    background-color: #000b;
    color: white;
    font-size: small;
}

#axisConfig {
    position: fixed;
    right: 1em;
    top: 1lh;
    background: #3348;
    color: white;
    padding: 0.5lh 1em;
}

#axisConfig .axisConfig {
    display: grid;
    grid-template-columns: 2em 7em 7em;
    place-items: center;
}

.axisConfig .label {
    font-size: larger;
    margin: 0;
}

.axisConfig p {
    margin: 0.15lh 0;
    line-height: 1.2;
    text-align: center;
}

#axisConfig button {
    justify-self: end;
    width: 8em;
    height: 2.5lh;
}
